
@font-face {
    font-family: 'HelveticaNeueCyrillic';
    src: url('../fonts/HelveticaNeueCyrillic-light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/HelveticaNeueCyrillic-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/HelveticaNeueCyrillic-light.woff') format('woff'), /* Modern Browsers */
        url('../fonts/HelveticaNeueCyrillic-light.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/HelveticaNeueCyrillic-light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/HelveticaNeueCyrillic-light.svg#Bizon') format('svg'); /* Legacy iOS */
    font-weight:normal;
    font-style:normal;
}

html, body {text-align: center; align: center; overflow: auto; min-width: 320px; min-height: 640px; position: relative; border: 0; padding: 0; margin: 0; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; background-image: url("../images/bg.png"); background-color: #ffffff; background-repeat: repeat; background-position: center center; z-index: 0; text-decoration: none; outline: none; cursor: default; text-transform: none;}
a, a:active, a:focus, a:hover, a:visited, a.link:hover, a.link:visited, a.link:active, a.link:focus, a.link, p {border: 0; padding: 0; margin: 0; font-family: HelveticaNeueCyrillic, Helvetica, Arial; color: #0066cc; font-size: 100%; text-decoration: none; outline: none; cursor: default; text-transform: none;}
p {color: #333333;}
a:hover, a.link:hover {cursor: pointer;}
* HTML a:hover, a.link:hover {cursor: hand;}
a.link:hover {color: #999999;}

h1, h2, h3 {font-family: HelveticaNeueCyrillic, Helvetica, Arial; color: #666666;}

a.lang:hover, a.lang:visited, a.lang:active, a.lang:focus, a.lang, a.slang:hover, a.slang:visited, a.slang:active, a.slang:focus, a.slang, p.lang {border: 0; padding: 0; margin: 0 1% 0 1%; font-family: HelveticaNeueCyrillic, Helvetica, Arial; color: #0066cc; font-size: 80%; text-decoration: none; outline: none; cursor: default; text-transform: none;}
a.slang:hover, a.slang:visited, a.slang:active, a.slang:focus, a.slang, p.lang {color: #333333;}
a.lang:hover {cursor: pointer; color: #999999;}
* HTML a.lang:hover {cursor: hand;}
